@model BankApp.App.ViewModels.EditCustomerViewModel

@{
    ViewData["Title"] = "Edit Customer";
}

<section class="testimonials text-center bg-light">
    <div class="container">


        <h1>Edit customer</h1>

        <form asp-controller="Customer" asp-action="EditCustomer" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Name</label>
                    <input value="@Model.Customer.Givenname" required asp-for="@Model.Customer.Givenname" type="text" class="form-control" id="inputEmail4" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Last name</label>
                    <input value="@Model.Customer.Surname" asp-for="@Model.Customer.Surname" required type="text" class="form-control" id="inputPassword4" placeholder="Last name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Birthdate</label>
                    <input value="@Model.Birthday.ToString("yyyy-MM-dd")" required asp-for="@Model.Customer.Birthday" type="date" class="form-control" id="inputEmail4" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Gender</label>
                    <select value="@Model.Customer.Gender" asp-for="@Model.Customer.Gender" id="inputState" class="form-control">
                        @if (Model.Customer.Gender == "female")
                        {
                            <option value="female" selected>Female</option>
                            <option value="male">Male</option>
                            <option value="other">Other</option>
                        }
                        else if (Model.Customer.Gender == "male")
                        {
                            <option value="female">Female</option>
                            <option value="male" selected>Male</option>
                            <option value="other">Other</option>
                        }
                        else
                        {
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                            <option value="other" selected>Other</option>
                        }

                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputEmail4">Prefix</label>
                    <input value="@Model.Customer.Telephonecountrycode" asp-for="@Model.Customer.Telephonecountrycode" type="text" class="form-control" id="inputEmail4" placeholder="(+46)">
                </div>
                <div class="form-group col-md-10">
                    <label for="inputPassword4">Phone</label>
                    <input value="@Model.Customer.Telephonenumber" asp-for="@Model.Customer.Telephonenumber" type="text" class="form-control" id="inputPassword4" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Email</label>
                <input value="@Model.Customer.Emailaddress" asp-for="@Model.Customer.Emailaddress" type="email" class="form-control" id="inputAddress" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input value="@Model.Customer.Streetaddress" required asp-for="@Model.Customer.Streetaddress" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="inputCity">City</label>
                    <input value="@Model.Customer.City" required asp-for="@Model.Customer.City" type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputCity">Country</label>
                    <input value="@Model.Customer.Country" required asp-for="@Model.Customer.Country" type="text" class="form-control" id="inputCountry">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputCity">Country Code</label>
                    <input value="@Model.Customer.CountryCode" required asp-for="@Model.Customer.CountryCode" maxlength="2" type="text" class="form-control" id="inputCountry" placeholder="SE">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input value="@Model.Customer.Zipcode" required asp-for="@Model.Customer.Zipcode" type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <input type="hidden" asp-for="@Model.Customer.CustomerId" value="@Model.Customer.CustomerId" />
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @Html.Raw(TempData["error"])
            </div>
        }
    </div>
</section>